/* Global Styles */
html {
  font-size: 16px;
}

:root {
  --white: rgb(254, 254, 254);
  --black: rgb(0, 0, 0);
}

/* ****** navigation ******  */
nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.31rem;
}

#ayesha {
  font-family: "Dancing Script", cursive;
  font-size: 1.25rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 28.12rem;
  font-size: 0.75rem;
  list-style: none;
  margin-top: 0.12rem;
  text-transform: uppercase;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
}

/* ****** Main ****** */

.top-section {
  background-image: url(/assets/hero-image.jpg);
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  height: 50.25rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin-right: 350px;
}

#hero-text {
  font-size: 100px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.hero-section span {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.hero-section button {
  width: 130px;
  height: 40px;
  background-color: var(--black);
  color: var(--white);
}

.hours {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  white-space: nowrap;
  font-size: 0.875;
  color: white;
  letter-spacing: 0.125rem;
}

.visit {
  display: flex;
  position: relative;
  bottom: 5.31rem;
  right: 3.75rem;
  justify-content: space-between;
}

.first-visit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 13.12rem;
  height: 14.37rem;
  color: var(--white);
  background-color: var(--black);
  line-height: 1.34rem;
  text-transform: uppercase;
  margin-left: 160px;
  padding: 10px;
}

#twenty-percent {
  font-size: 1.56rem;
  font-weight: 700;
}

.arrow-buttons {
  display: flex;
  justify-content: flex-end;
}

.icon-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
  border-radius: 50%;
  font-size: 1rem;
  line-height: 1;
  box-shadow: none;
  border: lightgray solid 0.06rem;
  width: 0.62rem;
  height: 0.62rem;
  margin: 0.18rem;
  padding: 0.625rem;
}

/* ****** Services ****** */

.services {
  display: flex;
  justify-content: space-around;
}

#service-one,
#service-two,
#service-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.25rem;
  text-align: center;
}

.services img {
  width: 6.25rem;
}

/* ****** Momentum ****** */
.momentum {
  display: flex;
  margin-top: 7.5rem;
  padding-top: 4.37rem;
  padding-left: 6.25rem;
  padding-bottom: 3.12rem;
  background-color: rgb(244, 245, 246);
}

.momentum-image img {
  width: 21.87rem;
  margin-left: 12.5rem;
}

.momentum button {
  width: 8.12rem;
  height: 2.5rem;
  background-color: var(--black);
  color: var(--white);
}

/* ****** Stylists ****** */
.stylists {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 1.87rem;
}
.stylist-pics {
  width: 10.62rem;
  height: 12.5rem;
}

#stylist-one,
#stylist-two,
#stylist-three {
  margin: 1.87rem;
}

.stylists aside {
  width: 8.12rem;
  height: 2.5rem;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

#stylist-one,
#stylist-two,
#stylist-three {
  position: relative;
}

#stylist-one aside {
  position: absolute;
  left: 1.25rem;
  bottom: -0.93rem;
}

#stylist-two aside {
  position: absolute;
  left: 1.25rem;
  bottom: -0.93rem;
}

#stylist-three aside {
  position: absolute;
  left: 1.25rem;
  bottom: -0.93rem;
}

.stylists aside p,
.stylists aside span {
  margin: 0;
}

.stylists aside span {
  font-size: 0.75rem;
}

/* ****** Color Day Offer ****** */
.color-day-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 34.12rem;
  background-image: url(/assets/color-day-offer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  margin-top: 6.25rem;
}

.color-day-offer h3 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 11.25rem;
}

.color-day-offer p {
  width: 31.25rem;
  font-size: 2.18rem;
  line-height: 2.5rem;
  margin-left: 11.25rem;
}

.color-day-offer span {
  font-weight: 700;
}

.color-day-offer button {
  width: 9.37rem;
  height: 2.5rem;
  background-color: var(--black);
  color: var(--white);
  margin-left: 180px;
}

/* ****** Lookbook ****** */
.lookbook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.68rem;
}

.lookbook h3 {
  font-size: 1.56rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3.75rem;
}

.all-lookbooks {
  display: flex;
}

.lookbook-1,
.lookbook-2,
.lookbook-3 {
  display: flex;
  flex-direction: column;
  max-height: 38.37rem;
}

.lookbook-1 img,
.lookbook-2 img,
.lookbook-3 img {
  flex: 0 0 auto;
  max-width: 12.5rem;
  max-height: 38.37rem;
}

img[alt="cosmetics model with red lipstick and brown hair"] {
  max-height: 19.62rem;
  max-width: 11.25rem;
}
